<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Lesson1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Uppg1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Uppg2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Uppg3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6537310E1A1356110084E616</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6537311C1A13562B0084E616</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>653731271A1356900084E616</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6537313C1A1366740084E616</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6537314B1A1369EF0084E616</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
